<!DOCTYPE html>

<html>
<head>
	<meta charset="GB2312">
	<title>{{team.name}} {{player.name}}</title>
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	
	
</head>
<body>





	<h1>{{ player.name }}</h1>

	{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
	<h3>player info</h3>
	<p>{{ player.name }} is player of {{team.name }}</p>
	<p>{{player.ave_mark}} point</p>
	<form action="{%url 'team:mark' team.id player.id%}" method="post">
		{% csrf_token %}
		<input type="text"  name='mark_input'  id='mark_input'/>
		<p id='message'>please input the number from 1 to 10	</p>
		</br>
	
	<input type="submit" value="mark" id='sButton' />
	</form>
	<script>
		$( "#mark_input" ).on( "blur", function() {
		    var mInput=$( this ).val()
			if (mInput>0 && mInput<=10 ){
				
				$( "#sButton").attr("disabled",false);
				$( "#message" ).css({color:'#000'})
			}else{
			
				$( "#message" ).css({color:'red'})
				$( "#sButton").attr("disabled",true);
			}
		});
	
	</script>
</body>
</html>



